
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>DJ-Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      
    </div>
    <!-- header -->
    <div class="row">
      <!-- <div class="profile-bg">
        <img *ngIf= "image" src="{{ image }}">
        <img *ngIf= "!image" src="">
      </div> -->


      <div class="profile-dj">
        <div class="col-12">
          <div class="user-dp">
            <img src="{{ image }}">
          </div>
          <div class="user-info">
            <h4>{{ djProfile?.firstName }} {{ djProfile?.lastName }}</h4>
            <p><i class="fa fa-map-marker"></i> {{ djProfile?.city }}, India</p>
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
            <p>+{{ djProfile?.phoneNumber }}</p>
            <div class="editt">
              <ion-button class="editbtn" size="small" color="" routerLink = "/editdjprofile"><i class="fa fa-edit"></i></ion-button>
            </div>
          </div>

      </div>
      </div>
    </div>
    <div class="row">
        <div class="profile-recomend">
          <ul class="nav nav-tabs" role="tablist">
            <li>
              <button *ngIf = "checkbox === false" class="editbtn1" size="small" (click) = "addPlaylist()">Add Playlist</button>
            </li>

          </ul><!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <div class="song-tag-list">
                <h6 class="song-tag">Videos <span>More</span></h6>
              <div class="fe-song-list">
                <ul>
                  <li *ngFor = "let videos of videoContent" class="edit-select">
                    <div class="track-list b-r1">
										<img src="{{ videos?.thumbnail }}" (click) = "playVideo(videos)">
										<div class="ttl">
											<h3>{{ videos?.title }}</h3>
                      <span *ngIf = "checkbox === false">
                        <i class="fa fa-edit" aria-hidden="true" [routerLink] = "['/content-update/', videos.id]"></i>
                      </span>
                      <span *ngIf = "checkbox === false">
                        <i class="fa fa-trash iconc" aria-hidden="true" (click) = "deleteCotent(videos.id)"></i>
                      </span>
                      <span *ngIf = "checkbox === true">
                        <i *ngIf = "isTicked === true && contentArray.indexOf(videos.id) > -1" class = "fa fa-check-square-o newc" aria-hidden="true" (click)="deleteSongs(videos.id)"></i>
                        <i *ngIf = "!(contentArray.indexOf(videos.id) > -1)" class = "fa fa-check-square-o" aria-hidden="true" (click)="songs(videos.id)"></i>
                      </span>
										</div>
                    </div>
                  </li>

                </ul>
              </div>
              </div>
              <div class="song-tag-list">
                <h6 class="song-tag">Audios <span>More</span></h6>
              <div class="fe-song-list ado">
                <ul>
                  <li *ngFor = "let audios of audioContent" class="edit-select">
                    <div class="track-list">
										<img src="{{ audios?.thumbnail }}" (click) = "playMusic(audios)">
										<div class="ttl">
											<h3>{{ audios?.title }}</h3>
                      <span>
                        <i *ngIf = "checkbox === false" class="fa fa-edit" aria-hidden="true" [routerLink] = "['/content-update/', audios.id]"></i>
                      </span>
                      <span *ngIf = "checkbox === false">
                        <i class="fa fa-trash iconc" aria-hidden="true" (click)="deleteCotent(audios.id)"></i>
                      </span>
                      <span *ngIf = "checkbox === true">
                        <i *ngIf = "isTicked === true && contentArray.indexOf(audios.id) !> -1" class = "fa fa-check-square-o newc" aria-hidden="true" (click)="deleteSongs(audios.id)"></i>
                        <i *ngIf = "!(contentArray.indexOf(audios.id) > -1)" class = "fa fa-check-square-o" aria-hidden="true" (click)="songs(audios.id)"></i>
                      </span>
										</div>
                  </div>
                </li>
                </ul>
              </div>
              </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
              <p>Second Panel</p>
            </div>
            <div class="tab-pane" id="tabs-3" role="tabpanel">
              <p>Third Panel</p>
            </div>
          </div>

          <button *ngIf = "checkbox === true" class="editbtn2" size="small" color="success" (click) = "playList()">Create Playlist</button>
          <!-- <ion-button *ngIf = "checkbox === true" class="editbtn2" size="small" color="success" routerLink = "['/modal2' , contentArray]">Create Playlist</ion-button> -->

          <!-- <div *ngIf = "checkbox === false" class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <div class="song-tag-list"> 
                <div class="row">
                  <h6 class="song-tag">PlayList</h6>
                  <ion-button class="editbtn1" size="small" color="success" (click) = "addPlaylist()">Add Playlist</ion-button>
                </div>
              <div class="fe-song-list">
                <ul>
                  <li *ngFor = "let videos of videoContent" class="edit-select">
                    <div class="track-list b-r1">
										<img src="{{ videos?.thumbnail }}" (click) = "playVideo(videos)">
										<div class="ttl">
											<h3>{{ videos?.title }}</h3>
                      <span>
                        <i class="fa fa-edit" aria-hidden = "true"></i>
                      </span>
                      <span>
                        <i class="fa fa-trash iconc" aria-hidden="true"></i>
                      </span>
										</div>
                    </div>
                  </li>
                </ul>
              </div>
              </div>

            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
              <p>Second Panel</p>
            </div>
            <div class="tab-pane" id="tabs-3" role="tabpanel">
              <p>Third Panel</p>
            </div>
          </div> -->
        </div>
    </div>
    </div>
</ion-content>

