
<audio
    #player
    src = "">
</audio>
<ion-content>
  <div class="menubar">
    <img src="assets/img/back.png" (click)="back()">
  </div>
  <div class="profile-folio">
    <div class="container">
      <div class="row">
       <div class="col-12">
         <div class="single-track">
           <h2 class="test">{{ response.title }}</h2>
           <div class="div-song">
             <div class="song-dp"><img class="mainimg" src="{{ response.thumbnail }}"></div>
             <div class="song-txt" *ngFor = "let content of contentUrl">
               <p><span>Title:</span>{{ content.title }}</p>
               <a (click) = "playContent(content.content , content.type)">Play</a>
             </div>
           </div>
           <div class="strt-end-time">
            <p><span>Started At: </span>{{ this.start }} {{ startTime }}</p>
            <p><span>Ends At: </span>{{ this.start }} {{ startTime }}</p>
           </div>
         </div>
       </div>
      </div>
    </div>
    <div *ngIf = "isPlaying === true" class="player-controls">
      <div class="song-dpp"><img src="{{ response.thumbnail }}"></div>
      <div class="song-ttl">
        <p>lorem ipsum</p>
        <ul *ngIf = "showPlay === false">
          <li><i class="fa fa-backward" (click)= "seek()"></i></li>
          <li><i class="fa fa-play" (click)= "resume()"></i></li>
          <li><i class="fa fa-forward" (click)= "seek()"></i></li>
        </ul>
        <ul *ngIf = "showPlay === true">
          <li><i class="fa fa-backward" (click)= "seek()"></i></li>
          <li><i class="fa fa-pause" (click)= "pause()"></i></li>
          <li><i class="fa fa-forward" (click)= "seek()"></i></li>
        </ul>
      </div>
      <!-- <div class="progress-bar"> -->
        <!-- <ion-range
          min="0"
          [max]="duration"
          [value]="currentTime"
          (ionChange)="seeking($event)"
          color="light">
          <ion-label color="light" slot="start">{{ currentTime }}</ion-label>
          <ion-label color="light" slot="end">{{ duration }}</ion-label>
        </ion-range> -->
      <!-- </div> -->
</div>
  </div>
  
</ion-content>
