<ion-header>
  <ion-toolbar>
    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="profile-folio">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="user-dp">
          <img src="../../../assets/img/user-img.png">
        </div>
        <div class="user-info">
          <h4>John Doe</h4>
          <p><i class="fa fa-map-marker"></i> Kolkata, India</p>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p>+91 9789798985</p>
          <p>john.doe@gmail.com</p>
          <p>www.johndoe.co.in</p>
        </div>
      </div>
      <div class="col-12">
        <div class="featured-play">
          <span>Featured Playlists <a href="#">More</a></span>
          <div class="featured-playlist">
          <ul>
            <li><img src="../../../assets/img/playlist-1.png"></li>
            <li><img src="../../../assets/img/playlist-2.png"></li>
            <li><img src="../../../assets/img/playlist-3.png"></li>
            <li><img src="../../../assets/img/playlist-4.png"></li>
            <li><img src="../../../assets/img/playlist-5.png"></li>
          </ul>
          </div>
        </div>
      </div>
      <div class="paly-song"></div>
    </div>
  </div>
</div>
</ion-content>
