<ion-header>
  <ion-toolbar>
    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menubar">
    <img src="assets/img/back.png" (click)="back()">
  </div>
<div class="profile-folio">
  <div class="container">
    <div class="row">
      
      <div class="col-12">
        <div class="user-dp">
          <img src="{{ userInfo.profileImage }}">
        </div>
        <div class="user-info">
          <h4>{{ userInfo.firstName }} {{ userInfo.lastName }}</h4>
          <p><i class="fa fa-map-marker"></i> {{ userInfo.city }}, India</p>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p>+91 {{ userInfo.phoneNumber }}</p>
          <p>{{ userInfo.emailId }}</p>
          <!-- <p>www.johndoe.co.in</p> -->
        </div>
      </div>

      <div *ngIf = 'isVideo === true' id="instructions" class="main"> 
        <iframe *ngFor = 'let videos of youtubeUrls' width="400" height="200" id="my_video_1" class="video-js vjs-default-skin"
        [src]="videos" frameborder="0"
          allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>

      <div class="paly-song"></div>
    </div>
  </div>
</div>
</ion-content>
