<ion-header>
  <ion-toolbar>
    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="profile-folio">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="user-dp">
          <img src="{{ userInfo.profileImage }}">
        </div>
        <div class="user-info">
          <h4>{{ userInfo.firstName }} {{ userInfo.lastName }}</h4>
          <p><i class="fa fa-map-marker"></i> {{ userInfo.city }}, India</p>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p>+91 {{ userInfo.phoneNumber }}</p>
          <p>{{ userInfo.emailId }}</p>
          <!-- <p>www.johndoe.co.in</p> -->
        </div>
      </div>
      <!-- <div class="col-12">
        <div class="featured-play">
          <span>Featured Playlists <a href="#">More</a></span>
          <div class="featured-playlist">
          <ul>
            <li><img src="../../../assets/img/playlist-1.png"></li>
            <li><img src="../../../assets/img/playlist-2.png"></li>
            <li><img src="../../../assets/img/playlist-3.png"></li>
            <li><img src="../../../assets/img/playlist-4.png"></li>
            <li><img src="../../../assets/img/playlist-5.png"></li>
          </ul>
          </div>
        </div>
      </div> -->

      <div *ngIf = 'isVideo === true' id="instructions" class="main">
        <!-- <h6>{{ videos }}</h6> -->
        <iframe *ngFor = 'let videos of youtubeUrls' width="400" height="200" id="my_video_1" class="video-js vjs-default-skin"
        [src]="videos" frameborder="0"
          allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <!-- <button (click)="playPause()">Play/Pause</button>
        <button (click)="makeBig()">Big</button>
        <button (click)="makeSmall()">Small</button>
        <button (click)="makeNormal()">Normal</button>
        <button (click)="restart();">Restart</button>
        <button (click)="skip(-10)">Rewind</button>
        <button (click)="skip(10)">Fastforward</button> -->
      </div>

      <div class="paly-song"></div>
    </div>
  </div>
</div>
</ion-content>
