.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: #ffffff;
  }
  
    .dj-header{
      width: 100%;
      background: #242232;
      padding: 15px 0px 0px;
    }
    .dj-menu-icon {
      color: #fff;
      width: 10%;
      float: left;
      padding-top: 38px;
    }
    .dj-logo {
        width: 15%;
        float: left;
    }
    .dj-menu-list{
      width: 65%;
      float: left;
      padding-top: 10px;
    }
    .dj-profile{
      width: 10%;
        float: left;
        color: #fff;
        text-align: center;
        margin-left: 15px;
        padding-top: 10px;
    }
    .menu-list {
      width: 100%;
      padding: 0 15px;
      text-align: center;
    }
    .menu-list ul{
      padding: 0px;
      margin: 0px;
    }
    .menu-list ul li{
        list-style: none;
        color: #fff;
        display: inline-block;
        font-size: 13px;
        margin: 0 4.8px;
        font-family: 'TwCenMTStd';
    }
    .search {
      width: 100%;
      position: relative;
      text-align: center;
    }
    .search input{
      width: 90%;
      height: 30px;
      padding: 5px 15px;
      border-radius: 30px;
      border: none;
      font-size: 14px;
    }
    .srch-song{
      position: absolute;
        right: 17px;
        top: 5px;
        background: transparent;
        font-size: 18px;
        z-index: 99;
    }
    .dj-profile img{
        border-radius: 100px;
        width: 30px;
        height: 30px;
    }
    .dj-profile span{
      color: #fff;
        font-size: 12px;
    }
    // header-css
    .divImage{
      height: auto;
      width: 100%;
      position: absolute;
      top: -50px;
      margin: 0 auto;
      text-align: center;
  
    }
    .divImage img{
      width: 88px;
      height: 88px;
      border-radius: 50%;
  
    }
    .editICon {
      position: absolute;
        top: 20%;
        left: 63%;
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }
    .profile-details {
      width: 100%;
      color: #fff;
    }
    .profile-details h4{
      margin: 0;
      font-size: 16px;
      padding: 5px 0px;}
    .profile-details p{
       margin: 0px;
      font-size: 10px;}
    .profile-details a{
      background: #34566a;
      font-size: 12px;
      padding: 1px 15px;
      border: 2px solid #fff;
      color: #fff;
      border-radius: 30px;
      font-family: 'TwCenMTStd';
    }
    .editICon ion-icon {
      position: absolute;
      font-size: 25px;
      left: -2px;
      top: 2px;
    }
  
    .button {
      text-align: center;
    }
    ion-button {
      font-size: 18px;
      height: 45px;
      text-transform: capitalize;
      width: 80%;
    }
    .socoal-link {
      width: 100%;
    }
    .socoal-link a{
      text-decoration: none;
      color: #fff;
      display: inline-block;
      margin: 0 4px;
      font-size: 14px;
    }
    .profile-dj{
      width: 100%;
      background-color: #242232;
      // height: 150px;
      padding: 20px 0px;
    }
    .editt {
      width: 100%;
      text-align: right;
      padding-right: 15px;
      color: #fff;
      font-size: 12px;
    }
    .profile-bg{
      height: 100px;
      width: 100%;
    }
    .profile-bg img{
      width: 100%;
      height: 100%;
      max-height: 100%;
    }
    .fe-song-list{
      width: 100%;
    }
    .fe-song-list ul {
      padding: 0px;
      margin: 0px;
      margin-top: 10px;
    }
    .fe-song-list ul li{
      height: auto;
      width: 46%;
      border-radius: 0px;
      display: inline-block;
      margin: 0 2%;
    }
    // .fe-song-list ul li.edit-select .track-list{
    //   border: 3px Solid #2dd36f;
    // }
  
    .fe-song-list.ado ul li {
      height: auto;
      width: 46%;
      border-radius: 0px;
      display: inline-block;
      margin: 0 2%;
    }
    .song-tag{
        font-size: 20px;
        color: #fff;
        display: inline-block;
        width: 100%;
        padding: 5px 0px 0px;
        margin: 0;
    }
    .song-tag span{
      color: #fff;
      border: 2px solid #fff;
      padding: 2px 20px;
      font-size: 11px;
      border-radius: 50px;
      background: #34566a;
      margin-left: 20px;
      font-family: "TwCenMTStd";
    }
    .track-list{
      width: 100%;
      // border: 3px Solid #fff;
      border-radius: 0px;
      overflow: hidden;
      position: relative;
      margin-bottom: 8px;
      height: 120px;
    }
    .track-list img{
    width: 100%;
    height: auto;
    }
    .ttl {
    position: absolute;
    background: rgba(230, 226, 226, 0.65);
    width: 100%;
    padding: 2px 4px;
      bottom: 0;
      height: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .ttl h3{
      margin: 0;
      width: 60%;
      float: left;
      font-size: 12px;
      color: #242232;
      font-weight: 600;
    }
    .ttl span{
    width: 20%;
    text-align: right;
    float: right;
    color: #242232;
    padding-right: 7px;
    }
    // .b-r1{ border-radius: 0px 20px 0px 20px;}
    // .b-r2{ border-radius: 0px 20px 0px 20px;}
    // .b-r3{ border-radius: 20px 0px 20px 0px;}
    // .b-r4{ border-radius: 20px 0px 20px 0px;}
    // .b-r5{ border-radius: 0px 20px 0px 20px;}
    // .b-r6{ border-radius: 20px 0px 20px 0px;}
    .profile-recomend {
        width: 100%;
        height: 1000px;
        background: #202020;
        display: inline-block;
        padding: 0 15px;
        padding-top: 15px;
    }
    .profile-recomend .nav-tabs .nav-link{
      color: #fff;
      padding: 0px;
      margin: 0px 5px;
      font-size: 12px;
    }
    .profile-recomend .nav-tabs{
      border: none;
    }
    // .profile-recomend .nav-tabs li:last-child{
    //   margin-left: 31%;
    //   color: #fff;
    //   font-size: 13px;
    // }
    .profile-recomend .nav-tabs .nav-item.show .nav-link, .profile-recomend  .nav-tabs .nav-link.active{
      background: transparent;
      border: none;
      color: #21668d;
    }
  
    .editbtn {
      font-size: 15px;
      height: 25px;
      text-transform: capitalize;
      width: 80%;
    }
  
    .iconc {
      color: red;
    }
    .cancelbtn {
      color: white;
    }
  
    .deletebtn {
      color: red;
    }
  
    .editbtn1 {
      font-size: 15px;
      height: 25px;
      text-transform: capitalize;
      width: 27%;
      margin-left: 260px;
  }
  .editbtn2 {
    font-size: 15px;
    height: 25px;
    text-transform: capitalize;
    width: 50%;
    margin-left: 100px;
    margin-top: 65px;
  }
  
  .cust {
    background-color: rgb(0, 255, 0);
  }
  
  .newc {
    color: #00ffa9;
  }
  
  
  .user-info{
    width: 50%;
    text-align: center;
    color: #fff;
    float: left;
  }
  .user-info h4{
    font-size: 16px;
    margin: 0px;
  }
  .user-info ul{
    padding: 0px;
    margin: 0px;
  }
  .user-info p{
    margin: 0;
    padding-top: 2px;
    font-size: 12px;
  }
  .user-info ul li a{
    text-decoration: none;
    color: #fff;
    margin: 5px 8px;
    font-size: 17px;
    display: inline-block;
  }
  .user-info ul li {
    display: inline;
  }
  .user-dp{
      width: 50%;
      float: left;
      text-align: center;
      padding-top: 4%;
  }
  .user-dp img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
  @media only screen and (max-width:375px){
    .editbtn1{
      margin-left: 240px;
    }
  }

  .menubar{
    z-index: 999;
    top: -31px;
    left: 22px;
    background: #000000;
  }
  

  .song-dpp{
    width: 15%;
    float: left;
    height: 100%;
    }
    .song-ttl{
    width: 85%;
    float: left;
    height: 100%;
    }
    .song-ttl ul{
    padding: 0px;
    margin: 0px;
    }
    .song-ttl ul li{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin: 0px 13%;
    }
    .song-ttl p{
    margin: 0px;
    padding-bottom: 5px;
    color: #fff;
    padding-left: 8px;
      font-size: 12px;
    }
    .progress-bar{
    width: 100%;
    height: 5px;
    background: tomato;
    padding-top: 5px;
    display: inline-block;
    }
    .player-controls{
      width: 100%;
        position: fixed;
        bottom: 0px;
        height: auto;
        background: #1c1a2d;
        padding: 5px 0px;
      }