<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Void DJ</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menubar">
    <img src="assets/img/back.png" (click)="back()">
  </div>

  <div class="registration-form">
  <form [formGroup]="createPortfolio">
    <div class="form-group row">
      <label for="inputtext" class="col-12 col-form-label">Video Url</label>
      <div class="col-8">
        <input type="text" class="form-control" placeholder="Enter Youtube Url" id="inputtext" formControlName="youtubeurl">
      </div>
        <div class="col-4">
        <button type="submit" class="cstm-btn" (click) = "addPortFolioUrls()">ADD</button>
      </div>
    </div>


    <div class="form-group row">
      <label for="inputtext" class="col-12 col-form-label">My Spotify</label>
      <div class="col-8">
        <input type="text" placeholder="Enter Spotify Url" class="form-control" id="inputtext" formControlName="youtubeurl">
      </div>
        <div class="col-4">
        <button type="submit" class="cstm-btn" (click) = "addSpotifyUrls()">ADD</button>
      </div>
    </div>

  </form>
  <div *ngIf = 'isVideo === true' id="instructions" class="main">
    <ul>
      <li *ngFor = 'let videos of youtubeUrls' class="videos">
        <iframe width="350" height="150" id="my_video_1" class="video-js vjs-default-skin"
        [src]="videos" frameborder="0"
          allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <button class="btn btn-danger newb" (click)="deleteVideo(videos)">Remove</button>
      </li>
    </ul>
  </div>
</div>
</ion-content>

