<audio
    #player
    src="https://heydj-images-bucket-rt3ea5hg-dev.s3.ap-south-1.amazonaws.com/music/1593726681354-testSong.mp3">
</audio>
<!-- <audio
    #player
    src = "" id="audio">
</audio> -->
<ion-content>
  <div class="menubar">
    <img src="assets/img/back.png" (click)="back()">
  </div>
  <div class="palylistt">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="play-song-details">
            <img src="{{ img }}">
            <h2>{{ playListName }}</h2>
            <h6>Hey DJ</h6>
            <p>Queue {{ noSongs }} Songs</p>
            <ul>
              <li><i class="fa fa-angle-double-left"></i></li>
              <li><i *ngIf = "playing === false" class="fa fa-play" (click)="play()"></i></li>
              <li><i *ngIf = "playing === true" class="fa fa-pause" (click)="pause()"></i></li>
              <li><i class="fa fa-angle-double-right"></i></li>
            </ul>
          </div>
        <!-- <div class="download">
          <p>Download</p><span><svg height="20" viewBox="0 0 512 512" width="20" fill="#a2a2a2" xmlns="http://www.w3.org/2000/svg"><path d="m409.785156 278.5-153.785156 153.785156-153.785156-153.785156 28.285156-28.285156 105.5 105.5v-355.714844h40v355.714844l105.5-105.5zm102.214844 193.5h-512v40h512zm0 0"/></svg></span>
        </div> -->
        <div class="subscrip-btn">
          <button class="subs-crib" (click) = subNow()>Subscribe Now</button>
          <button class="subs-crib" (click) = subLater()>Subscribe Later</button>
        </div>
        <div class="download">
          <p>Get Subscription</p><span class="custi">{{ price }}<i class="fa fa-inr" aria-hidden="true"></i></span>
        </div>
        <div *ngFor = 'let list of songsList' class="artist-song-list">
          <div class="ttl">
            <p>{{ list.title }}</p>
            <span>{{ list.title }} - Nevlin, Richy George, Chow mane</span>
          </div>
          <!-- <div class="dwnld"><svg height="20" viewBox="0 0 512 512" width="20" fill="#a2a2a2" xmlns="http://www.w3.org/2000/svg"><path d="m409.785156 278.5-153.785156 153.785156-153.785156-153.785156 28.285156-28.285156 105.5 105.5v-355.714844h40v355.714844l105.5-105.5zm102.214844 193.5h-512v40h512zm0 0"/></svg></div> -->
          <div class="track-option"><i class="fa  fa-ellipsis-v"></i></div>
        </div>
        <ion-range
          min="0"
          [max]="duration"
          [value]="currentTime"
          (ionChange)="seek($event)"
          color="light">
          <ion-label color="light" slot="start">{{ currentTime }}</ion-label>
          <ion-label color="light" slot="end">{{ duration }}</ion-label>
        </ion-range>
        <div *ngIf = "playing === true" class="fixed-play-pause">

        <div class="song-icon">
          <img src="{{ bottomSongImg }}">
        </div>
        <div class="song-ttl-name">
          <p>{{ bottomSongname }}</p>
            <span>{{ bottomSongname }} - Nevlin</span>
        </div>
        <div class="song-paly"><i class="fa fa-play"></i></div>
        </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

