<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-content>
        <ion-card>
          <img src="../assets/img/logo.png" />
          <!-- <div class="card-title">XCART</div>
          <div class="card-subtitle">Keep Shopping</div> -->
        </ion-card>
        <ion-list lines="none">
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


        <ion-list lines="none">
          <ion-menu-toggle autoHide="false">

            <ion-item *ngIf = "checkLoginStatus() == false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label (click) = login()>
                Login
              </ion-label>
            </ion-item>

            <ion-item *ngIf = "checkLoginStatus() == true">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label (click) = "logOut()">
                Logout
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
          
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>