<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="row">
      <div class="dj-header">
        <div class="col-md-12">
        <!-- <div class="dj-menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></div> -->
        <div class="dj-logo"><img src="../../../assets/img/logo.png"></div>
        <div class="dj-menu-list">
          <div class="search">
            <form>
              <input type="text" placeholder="Search">
              <button type="submit" class="srch-song"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
        <div class="dj-profile">
          <i *ngIf="text === 'Login'" class="fa fa-sign-in" (click)="process()" aria-hidden="true"></i>
          <i *ngIf="text === 'Logout'" class="fa fa-sign-out" (click)="logout()" aria-hidden="true"></i>
          <span>{{ text }}</span>
        </div>
      </div>
    </div>
    </div>
    <!-- header -->

    <div class="row">
      <div class="play-list-content">
      <div class="featured-play-list">
        <h3>Featured Playlists <span>More</span></h3>
        <div class="fe-song-list">
          <ul>
            <li *ngFor = "let songs of songslist">
              <img *ngIf = "!songs.thumbnail" src="../../../assets/img/playlist-1.png">
              <img *ngIf = "songs.thumbnail" src="{{ songs.thumbnail }}" (click) = "playMusic(songs.id , songs.sampleContent)">
              <h4 class="text">{{ songs.title }}</h4>
            </li>
            <!-- <li><img src="../../../assets/img/playlist-2.png"></li>
            <li><img src="../../../assets/img/playlist-3.png"></li>
            <li><img src="../../../assets/img/playlist-4.png"></li>
            <li><img src="../../../assets/img/playlist-5.png"></li> -->
          </ul>
        </div>
      </div>
      </div>
      <div class="play-list-content">
      <div class="featured-play-list">
        <h3>Genres <span>More</span></h3>
        <div class="genrs-list">
          <ul>
            <li>
              <div class="track-list">
										<img src="../../../assets/img/genres-1.png">
										<div class="ttl">
											<h3>Weekend: Starboy</h3>
											<span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
										</div>
									</div>
            </li>
            <li>
              <div class="track-list b-r1">
                <img src="../../../assets/img/genres-2.png">
                <div class="ttl">
                  <h3>Weekend: Starboy</h3>
                  <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                </div>
              </div>
            </li>
            <li>
              <div class="track-list b-r4">
                <img src="../../../assets/img/genres-1.png">
                <div class="ttl">
                  <h3>Weekend: Starboy</h3>
                  <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                </div>
              </div>
            </li>
            <li>
              <div class="track-list b-r2">
                <img src="../../../assets/img/genres-4.png">
                <div class="ttl">
                  <h3>Weekend: Starboy</h3>
                  <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                </div>
              </div>
            </li>
            <li>
              <div class="track-list b-r4">
                <img src="../../../assets/img/genres-1.png">
                <div class="ttl">
                  <h3>Weekend: Starboy</h3>
                  <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                </div>
              </div>
            </li>
            <li>
              <div class="track-list b-r5">
                <img src="../../../assets/img/genres-2.png">
                <div class="ttl">
                  <h3>Weekend: Starboy</h3>
                  <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="play-list-content">
      <div class="featured-play-list">
        <h3>New Releases<span>More</span></h3>
        <div class="genrs-list nw-rl">
          <ul>
            <li>
              <div class="list-of-song">
                <div class="song-dp"><img src="../../../assets/img/playlist-1.png"></div>
                <div class="song-ttl">
                  <h4>Hardwell</h4>
                  <p>XYZ Song</p>
                  <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                </div>
              </div>
            </li>
            <li>
              <div class="list-of-song">
                <div class="song-dp"><img src="../../../assets/img/playlist-2.png"></div>
                <div class="song-ttl">
                  <h4>Hardwell</h4>
                  <p>XYZ Song</p>
                  <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                </div>
              </div>
            </li>
            <li>
              <div class="list-of-song">
                <div class="song-dp"><img src="../../../assets/img/playlist-3.png"></div>
                <div class="song-ttl">
                  <h4>Hardwell</h4>
                  <p>XYZ Song</p>
                  <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                </div>
              </div>
            </li>
            <li>
              <div class="list-of-song">
                <div class="song-dp"><img src="../../../assets/img/playlist-4.png"></div>
                <div class="song-ttl">
                  <h4>Hardwell</h4>
                  <p>XYZ Song</p>
                  <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                </div>
              </div>
            </li>
            <li>
              <div class="list-of-song">
                <div class="song-dp"><img src="../../../assets/img/playlist-5.png"></div>
                <div class="song-ttl">
                  <h4>Hardwell</h4>
                  <p>XYZ Song</p>
                  <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        </div>
      </div>
      <div class="play-list-content">
      <div class="featured-play-list">
        <h2>My Playlists</h2>
        <h3>All Songs </h3>
        <div class="fe-song-list">
          <ul>
            <li><img src="../../../assets/img/playlist-1.png"></li>
            <li><img src="../../../assets/img/playlist-2.png"></li>
            <li><img src="../../../assets/img/playlist-3.png"></li>
            <li><img src="../../../assets/img/playlist-4.png"></li>
            <li><img src="../../../assets/img/playlist-5.png"></li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</ion-content>
